html {
  font-size: 14px;
}
body {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
  overflow-x: auto;
  font-family: 'ProximaNova-Regular', 'Segoe UI', 'Open Sans', sans-serif;
}

* {
  box-sizing: border-box;
}
